@import '_mixins';


.RightSidebar {
  flex: 2 0 25%;
  height: 100%;
  min-width: 300px;
  border-left: 1px solid $accent-4;
  z-index:3;
  @include flexbox(column, nowrap, flex-start, flex-start);
}

.RightSidebar__Module {
    color: $accent-1;
    width: 100%;

}

.LifeformsDetected {
  text-align: center;
  h3 { 
    font-size: 24pt;
    margin-bottom: 0;
    line-height: 24pt;
    color: $accent-2; 
  }

  > span {
    font-size: 48pt;
  }
}

.NamedList {
  border-top: 1px solid $accent-4;
  padding: 16px 0;
  text-align: center;
  width: 100%;
  font-size: 16pt;
}